<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="http://localhost:3000/autores/listar">Listar Autores</a></li>
    </ul>
  </body>
</html>
